/* Icons */
.icon svg {
  fill: currentColor;
  transition: 0.25s fill linear;
}
.icon svg path,
.icon svg circle {
  stroke: currentColor;
  transition: 0.25s stroke linear;
}
.icon svg {
  height: 1.5em;
  width: 1.5em;
  margin-top: -0.1em;
  vertical-align: middle;
}
.button:not(.icon-round) .icon {
  margin-right: 0.25em;
}
.button:not(.icon-round) .icon.walk {
  margin-right: 0;
  margin-left: -0.2em;
}

/* Animations */
.pulse {
  animation: pulse 1s 5;
  animation-delay: 1s;
}
.pulse.shadow-big {
  animation: pulse-shadow-big 1s 5;
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-shadow-big {
  0% {
    box-shadow: var(--shadow-big), 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: var(--shadow-big), 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
.spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  font-family: var(--font-buttons);
  font-size: 0.833em;
  line-height: 1.75;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-border-color);
  border-radius: 10px;
  background: var(--button-bg-color);
  padding: 4px 12px 4px;
  color: var(--button-text-color);
  margin: 7px 3px 0 0;
  box-shadow: var(--shadow-button);
  transition: box-shadow 0.25s linear, color 0.25s linear,
    background-color 0.25s linear, border-color 0.25s linear,
    border-radius 0.25s linear;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:focus,
.button-clear:focus {
  color: var(--button-text-color-hover);
  border-color: var(--button-border-color-hover);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: var(--shadow-button-hover);
}

button.button-primary,
input[type="button"].button-primary,
input[type="reset"].button-primary,
input[type="submit"].button-primary,
.button-primary {
  color: var(--button-primary-text-color);
  background: var(--button-primary-bg-color);
  border-color: var(--button-primary-border-color);
}
.button-clear {
  border-color: transparent;
  box-shadow: 0 0 0 transparent;
  background-color: transparent;
  color: var(--button-primary-text-color);
}
.button-clear:hover,
button.button-primary:hover,
input[type="button"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="submit"].button-primary:hover,
.button-primary:hover,
button.button-primary:focus,
input[type="button"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="submit"].button-primary:focus,
.button-primary:focus {
  color: var(--button-primary-text-color-hover);
  background: var(--button-primary-bg-color-hover);
  border-color: var(-button-p-border-color-hover);
}
.button-wide {
  display: block;
  width: 100%;
  text-align: center;
  margin-right: 0;
}

/* Transparent Buttons */
.transparent-on-dark .button,
.transparent-on-light .button,
.button.transparent {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: var(--site-header-nav-color);
}
.transparent-on-light .button {
  color: var(--text-caption);
}
.transparent-on-dark .button {
  color: var(--text-base-on-dark);
}
.transparent-on-dark .button:hover,
.transparent-on-dark .button:focus .transparent-on-light .button:hover,
.transparent-on-light .button:focus,
.button.transparent:hover,
.button.transparent:focus {
  background-color: unset;
  border-color: unset;
}
.transparent-on-dark .button:hover,
.transparent-on-dark .button:focus .transparent-on-light .button:hover,
.transparent-on-light .button:focus {
  box-shadow: var(--shadow-button-hover);
}

/* Icon Buttons Round */
button.icon-round,
input[type="button"].icon-round,
input[type="reset"].icon-round,
input[type="submit"].icon-round,
.button.icon-round {
  font-size: 1rem;
  border-radius: 50%;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  line-height: 2.35rem;
}

.icon-round:hover,
.icon-round:focus {
  color: #fff;
  border-color: #fff;
  border-radius: 10px;
}
/* Media buttons */
.button[title="play"]:hover,
.button[title="play"]:focus,
.button[title="pause"]:hover,
.button[title="pause"]:focus {
  color: #fff;
  border-color: #fff;
  background-color: var(--dark-primary);
}
/* Social buttons */
.button[title="facebook"]:hover,
.button[title="facebook"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--facebook);
}
.button[title="twitter"]:hover,
.button[title="twitter"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--twitter);
}
.button[title="instagram"]:hover,
.button[title="instagram"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--instagram);
}
.button[title="youtube"]:hover,
.button[title="youtube"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--youtube);
}
.button[title="pinterest"]:hover,
.button[title="pinterest"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--pinterest);
}
.button[title="reddit"]:hover,
.button[title="reddit"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--reddit);
}
.button[title="tumblr"]:hover,
.button[title="tumblr"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--tumblr);
}
.button[title="tiktok"]:hover,
.button[title="tiktok"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--tiktok);
}
.button[title="snapchat"]:hover,
.button[title="snapchat"]:focus {
  color: #000;
  border-color: #fff;
  background: var(--snapchat);
}
.button[title="wordpress"]:hover,
.button[title="wordpress"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--wordpress);
}
.button[title="email"]:hover,
.button[title="email"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--email);
}
.button[title="apple"]:hover,
.button[title="apple"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--apple);
}
.button[title="android"]:hover,
.button[title="android"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--android);
}
/* App Store buttons */
.button.appstore {
  min-width: 150px;
  text-align: center;
}
.button.appstore.android {
  background: var(--android);
  color: #fff;
}
.button.appstore.android:hover,
.button.appstore.android:focus {
  border-color: var(--android);
}
.button.appstore.ios {
  background: var(--apple);
  color: #fff;
}

/* Other buttons */
.button[title="print"]:hover,
.button[title="print"]:focus {
  color: #fff;
  border-color: #fff;
  background: var(--dark-primary);
}
