/* Forms */
form {
  font-family: var(--font-ui);
}
body.queryresults #results form,
body.advanced-search #results form {
  background: var(--deco-color-subtle);
  padding: 1em;
  border: var(--deco-frame);
  box-shadow: var(--shadow-big);
}

label + br {
  display: none;
}
form legend,
form .legend,
form label,
form .label {
  font-family: var(--font-ui);
  font-size: 0.833em;
  font-weight: 700;
  display: inline-block;
}
form legend,
form .legend {
  margin-top: 1em;
  font-size: 0.833em;
  font-weight: 700;
  display: inline-block;
  color: var(--text-caption);
}
form input[type="text"],
form input[type="password"],
form input[type="username"],
input[type="search"],
form input[type="email"] {
  width: 100%;
  font-family: var(--font-ui);
}
form select {
  font-family: var(--font-ui);
  margin: 0 0.5em 0.25em 0;
}
form select + input {
  display: block;
  margin-top: 0.5em !important;
}
form > div:not(:last-child),
form #advanced-form {
  padding: 0 0 1em;
  margin: 1em 0;
}
button.add_search,
button.remove_search {
  margin-bottom: 0.5em;
  color: #222;
}
button.add_search {
  background: var(--message-success);
}
button.add_search:before {
  content: "\002B\00A0";
}
button.remove_search {
  background: var(--message-warning);
}
button.remove_search:before {
  content: "\2212\00A0";
}
input[type="file"] {
  width: auto;
  min-width: none;
  max-width: 100%;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #d1d1d1;
  border-radius: 10px;
  padding: 0.5em;
  background: #fafafa;
  font-family: var(--font-ui);
}
input[type="file"]:hover {
}

input[type="file"]::file-selector-button {
  -webkit-appearance: none;
  font-family: var(--font-ui);
  margin-right: 10px;
  border-radius: 10px;
  padding: 6px 12px 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-border-color);
  background: var(--button-bg-color);
  font-weight: 400;
  color: var(--button-text-color);
  box-shadow: var(--shadow-button);
  transition: box-shadow 0.25s linear, color 0.25s linear,
    background-color 0.25s linear, border-color 0.25s linear,
    border-radius 0.25s linear;
}

input[type="file"]::file-selector-button:hover,
input[type="file"]:focus::file-selector-button {
  color: var(--button-text-color-hover);
  border-color: var(--button-border-color-hover);
  border-radius: 4px;
  box-shadow: var(--shadow-button-hover);
  cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="username"],
input[type="email"],
input[type="search"],
textarea,
select {
  font-family: var(--font-ui);
  border-width: 1px;
  border-style: solid;
  border-color: var(--form-element-border-color);
  font-size: 16px;
  border-radius: var(--form-element-border-radius);
  margin: 0 0 0 0;
  padding: 5px 10px;
}
select {
  border-color: var(--form-element-border-color);
  color: #222;
}
textarea {
  border-radius: var(--form-textarea-border-radius);
  min-height: 10em;
  width: 100%;
}
form input[type="button"],
form input[type="reset"],
form input[type="submit"],
form input[type="email"],
form input[type="password"],
form input[type="username"],
form input[type="text"] form button,
form .button,
textarea {
  -webkit-appearance: none;
}

/* Capsule Search Form */
form.capsule {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
form.capsule fieldset {
  flex-grow: 1;
}
form.capsule .button {
  padding: 2px 10px;
  margin-top: 7px;
  position: absolute;
  right: 0;
  margin-right: 5px;
  border-color: transparent;
  color: #ccc;
  background-color: transparent;
  box-shadow: none;
  border-radius: var(--form-element-border-radius);
}
form.capsule .button:focus,
form.capsule .button:hover {
  color: var(--button-primary-text-color) !important; /**/
  background-color: var(--dark-tertiary); /**/
  border-color: transparent;
  border-radius: var(--form-element-border-radius);
}
form.capsule .button .icon {
  padding-right: 0;
  margin-right: 0;
  vertical-align: unset;
}
form.capsule input.search {
  padding: 10px;
  min-width: 100%;
  max-width: 100%;
  color: var(--site-footer-nav-color);
  border-color: var(--site-footer-nav-color);
  background-color: rgba(0, 0, 0, 0.1);
  transition: color 0.25s linear, background-color 0.25s linear,
    border-color 0.25s linear;
}
form.capsule input.search:hover,
form.capsule input.search:focus {
  color: var(--text-base);
  background-color: #fff;
}
form.capsule input.search::placeholder {
  font-style: italic;
  color: var(--text-base-on-dark);
  opacity: 1;
}
form.capsule input.search:focus::placeholder,
form.capsule input.search:hover::placeholder {
  color: var(--text-caption);
  opacity: unset;
}
form.capsule .button {
  opacity: 0.5;
  transition: opacity 0.25s linear;
}
form.capsule .button:hover,
form.capsule .button:focus {
  opacity: 1;
}
form.capsule:focus-within .button {
  opacity: 1;
  color: var(--button-text-color);
  border-color: transparent;
  box-shadow: unset;
}
/* MISC */
fieldset#record-types {
  margin-top: 1em;
}
.checkbox-item {
  display: inline-block;
  margin-right: 0.5em;
}
