/* Overlay Active */
body.overlay-active {
  position: fixed;
  width: 100%;
}
/* Overflow */
.title-card-main,
figcaption,
#metadata-section .meta-style div {
  overflow: hidden;
}
/* Sticky */
.sticky {
  position: sticky;
  top: 1em;
  overflow: hidden;
}
@media all and (max-width: 600px) {
  .sticky {
    position: unset;
    top: 0;
    overflow: visible;
  }
}
/* Layout */
#content[role="main"]:not(.wide) {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 2em;
}
#page-content {
  min-height: 45vh;
}
.max-content-width {
  max-width: 1200px;
  margin: 0 auto;
}
.inner-padding {
  padding: 1em 2em;
}
.inner-padding-flush {
  padding: 0 2em;
}
@media all and (max-width: 820px) {
  #content[role="main"]:not(.wide) {
    padding: 1em;
  }
  .inner-padding {
    padding: 1em;
  }
  .inner-padding-flush {
    padding: 0 1em;
  }
}
.story-columns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.story-columns .column:first-child {
  min-width: 10em;
  padding-left: 1em;
}
@media all and (max-width: 1000px) {
  .story-columns .column:first-child {
    min-width: 3.5em;
  }
}
@media all and (max-width: 600px) {
  .story-columns {
    flex-direction: column;
  }
  .story-columns .column:first-child {
    position: sticky;
    z-index: 99;
    top: 0;
    margin: 0 0 2rem;
    padding-left: 0;
  }
  body.fullscreen-map .story-columns .column:first-child {
    z-index: 0;
  }
}
